html {
    background-color: #000;
}

* {
    font-family: 'Major Mono Display', monospace;
    color: #FFF
}

.teaser-flex {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.title-grid {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    justify-items: center;
}

.title-grid * {
    width: 100%;
    font-size: 10vw;
}

.teaser-grid {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    justify-items: center;
}

.teaser-grid * {
    width: 100%;
    font-size: 10vw;
}

.title-grid-cell {
}


.teaser-flex * {
    text-align: center;
    width: 30%;
}

.poster-container{
    width:100%;
    text-align: center;
}

.poster{
    width:100%;
}

@media screen and (min-width: 600px) {
    .poster{
        width:50%;
    }
}

.set-times-container {
    width: 100%;
    display:inline-block;
}

.set-times {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 600px) {
    .set-times {
        width: 50%;
    }
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
}

.date-time{
    text-align: center;
}